* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #18181F; */
  background-color: #0b0b0b;
}

.container {
  display: flex;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container{
  display: flex;
  
}


/* space colors:
navy #37306B
purple #66347F
pink #9E4784
peach #D27685 */

/* blue:
#104E5C
#16697A
#2F8498
#489FB5
#76B7C8 */

/*wine red - green:
#54414E
#6E4F61
#875C74
#97768D
#A790A5

#AFACAD
#B7C8B5
#C5EBC3
#B3D6B1

